body{
    margin: 50px;
    background-color: rgb(42, 97, 40);
}

#game-container{
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.play-area{
    background-color: rgb(47, 110, 45);
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.total {
    padding-left: 30px;
    font-size: 30px;
}

.cards-container{
    background-color: rgb(47, 110, 45);
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.card{
    width: 160px;
    height: 232px;
    margin: 5px;
    background-color: rgb(252, 247, 230);
    border-radius: 10px;
    box-shadow: 3px 6px 6px 0 black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
}

.card-placeholder{
    width: 160px;
    height: 232px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#bet-amount{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(252, 247, 230);
    background-color: rgb(69, 60, 148);
}