<!DOCTYPE html>
mess<html>

<head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">


<body>

    <div id="messages">
        {% for message in game.messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>

    <div id="game-container">
        <div id="game">
            <div id="dealer">
                <h2>Dealer</h2>
                <div id="dealer-area" class="play-area">
                    <div class="total">Total: <span id="dealer-total"></span></div>
                    <div class="cards-container" id="dealer-cards">
                        <div class="card-placeholder"></div>
                        <div class="card-placeholder"></div>
                    </div>

                </div>
            </div>
            <div id="player">
                <h2>Player</h2>
                <div id="player-area" class="play-area">
                    <div class="total">Total: <span id="player-total"></span></div>
                    <div class="cards-container" id="player-cards">
                        <div class="card-placeholder"></div>
                        <div class="card-placeholder"></div>
                    </div>
                </div>
                <div class="display">Stake: <span id="stake"></span></div>
                <div class="display">Chips: <span id="chips">{{ game.player.chips }}</span></div>

            </div>
            <div id="controls">
                <button class="bet-increment" id="bet-down" name="bet-up">-</button>
                <input type="number" id="bet-amount" name="bet-amount" value="10" readonly>
                <button class="bet-increment" id="bet-up" name="bet-up">+</button>
                <button class="control_button" id="deal" name="deal">Deal</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>

</body>

</html>