<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>


<body>
    <header>
        <h1>Blackjack</h1>
    </header>
    <div id="game-container">
        <div id="game">

            {% for message in get_flashed_messages() %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}

            <div id="dealer">
                <h2>Dealer</h2>
                <div id="dealer-cards" class="cards-container">
                    {% if game.dealer.hidden %}

                    {% for card in game.dealer.hand.cards[:-1] %}
                    <div class="card" id={{card}}></div>
                    <div class="card" id="nice_try"></div>
                    {% endfor %}

                    {% else %}

                    {% for card in game.dealer.hand.cards %}
                    <div class="card" id={{card}}></div>
                    {% endfor %}


                    {% endif %}
                </div>
            </div>
        </div>
        <div id="player">
            <h2>Player</h2>
            <div id="player-cards" class="cards-container">
                {% for card in game.player.hand.cards %}
                <div class="card" id={{card}}></div>
                {% endfor %}
            </div>
            <div id="player-score">{{game.player.hand.total}}</div>
            <div id="player-chips">{{game.player.chips}}</div>
        </div>
    </div>
    <div id="controls">
        {% if game.status == game.PREGAME %}
        <form action="start_round" method="post" autocomplete="off">
            <input type="text" id="bet" name="bet" placeholder="Set bet amount">
            <input type="submit" value="Deal">
        </form>
        {% elif game.status == game.PLAYER_PLAY %}
        <form action="hit_or_stand" method="post" autocomplete="off">
            <input type="submit" id="hit" name="hit" value="Hit">
            <input type="submit" id="stand" name="stand" value="Stand">
        </form>
        {% elif game.status == game.END %}
        <form action="reset" method="post" autocomplete="off">
            <input type="submit" value="Play again">
        </form>
        {% endif %}

    </div>
    </div>

    <script src="{{ url_for('static', filename='js/game.js') }}"></script>

</body>

</html>